<!DOCTYPE html>
<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
        {% block head %}
            <title>{% block title %} Flask Conf 2018{% endblock %}</title>

        {% endblock%}
    </head>
    <body>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });
        </script>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Flask Conf 2018</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">
                        menu
                    </i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home')}}">Home</a></li>
        </ul>

        <div id="content" class="container">
            <br>
            <br>
            {% block content %} {% endblock %}
        </div>
    </body>
</html>